[submodule "covid-chestxray-dataset"]
	path = covid-chestxray-dataset
	url = https://github.com/coyotespike/covid-chestxray-dataset
	branch = master
[submodule "zhanglab-chest-xrays"]
	path = zhanglab-chest-xrays
	url = git@github.com:coyotespike/zhanglab-chest-xrays.git
	branch = master
[submodule "AHP-covid19-ctscans"]
	path = AHP-covid19-ctscans
	url = git@github.com:coyotespike/AHP-covid19-ctscans.git
[submodule "NIH-chestxray-dataset-sample"]
	path = NIH-chestxray-dataset-sample
	url = git@github.com:coyotespike/NIH-chestxray-dataset-sample.git
